.yearsContainer {
  display: inline-grid;
  grid-template-columns: 4vw 20vw 4vw 20vw 4vw 20vw 4vw 20vw 4vw;
  grid-template-rows: auto;
  font-family: "Montserrat", sans-serif;
}
.year {
  display: flex;
  flex-direction: column;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

#title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #01a550;
  margin-right: 120px;
}

h2 {
  color: #055031;
}
.keys {
  display: grid;
  grid-template-columns: repeat(3, 40px);
  grid-template-rows: 20px 20px 20px;
  grid-gap: 5px;
}
.btn {
  transition-duration: 0.4s;
  background-color: #01a550;
  border: 2px solid #4caf50;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.btn:hover {
  background-color: white;
  color: #01a550;
}
.btn:focus {
  transition-duration: 0.4s;
  background-color: #01a550;
  border: 2px solid #4caf50;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none !important;
}
.topInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
#logo {
  height: 50px;
  width: auto;
  margin-left: 20px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.clr,
.clr:focus,
.clr.focus {
  background-color: rgb(219, 51, 51);
  border: 2px solid rgb(219, 51, 51);
  padding-left: 4px;
}
.clr:hover {
  color: rgb(219, 51, 51);
}
.bk,
.bk:focus,
.bk.focus {
  background-color: rgb(253, 185, 58);
  border: 2px solid rgb(253, 185, 58);
  padding-left: 4px;
}
.bk:hover {
  color: rgb(253, 185, 58);
}
.errorText {
  color: red;
}
@media only screen and (max-width: 1135px) {
  .yearsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .year {
    flex: 1 0 34%;
    margin: 20px;
    margin-bottom: 100px;
  }
}
